<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
</head>

<body>
	<p>尊敬的用户{$UserName}，您好！</p>

<p>您申请了取消订阅{$SiteName}，请点击下方的链接继续操作。</p>
<p>
<div>
<a href="{$UnReg_Confirm_Url}" target="_blank">{$UnReg_Confirm_Url}</a>
<br/>
</div>
</p>

<p>如果您未申请过取消，请忽略该邮件。</p>


<p>如果浏览器不能自动打开，请把地址复制到浏览器中手动打开。</p>
</body>
</html>
